@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200;300;400;600;700;900&display=swap');
*
{
    font-family: 'Sofia Sans', 'sans-serif';
}
body
{
    display: flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: brown;
}
section
{
    max-width: 50vw;
    min-width: 50vw;
    padding: 0 0 40px 0;
    border-radius: 15px;
    background: chocolate;
    border: 1px solid darkorange;
    box-shadow: 0 0 10px 5px coral;
}
section h1
{
    text-align: center;
    margin: 20px 0 30px;
}
section .inputs
{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
section .inputs input
{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}
section .inputs input#ingredients
{
    min-width: 50%;
}
section .inputs input#ingredients:hover,
section .inputs input#ingredients:focus

{
    outline: 1px solid black;
}
section .inputs input[type="submit"]
{
    padding: 10px 30px;
    min-width: 160px;
}
section .inputs input[type="submit"]:hover
{
    filter: contrast(0.9);
}
section .inputs input[type="submit"]:active
{
    filter: contrast(0.8);
}
section .inputs .material-icons-outlined
{
    opacity: 0;
    color: sandybrown;
    animation: in-out 1s linear infinite;
}
@keyframes in-out
{
    0%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(1.2);
    }
    100%
    {
        transform: scale(1);
    }
}
section ul .elementHide code
{
    display: flex;
    text-align: justify;
    text-indent: -35px;
    padding: 5px 25px 5px 50px;
    font-size: 0.7rem;
    font-weight: 600;
    border-radius: 5px;
    overflow: overlay;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: pre-wrap;
    width: -webkit-fill-available;
}
@media (max-width: 500px)
{
    section
    {
        padding: 0 60px 40px 60px;
        min-height: 220px;
    }
    section .inputs
    {
        flex-direction: column;
    }
    section .inputs input#ingredients
    {
        min-width: 100%;
    }
}